{% extends 'portfolio/base.html' %}

{% block main %}

    <div class="gridcontainer">
        <div id="contacto">
            <h2 id="titulo2"><a id="aLinks" href="https://pt.linkedin.com/">Linkedin</a></h2>
        </div>

        <div id="contacto">
            <h2 id="titulo2"><a id="aLinks" href="https://github.com/">Github</a></h2>
        </div>

        <div id="contacto">
            <h2 id="titulo2"><a id="aLinks" href="https://www.instagram.com/">Instagram</a></h2>
        </div>
        <div id="contacto">
            <h2 id="titulo2"><a id="aLinks" href="https://www.facebook.com/">Facebook</a></h2>
        </div>
    </div>

{% endblock %}